<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer_content">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-top-area">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu">
                                <img th:src="@{/images/VLU.png}" alt="VLU" class="img-fluid mb-2">
                                <p>Bookly được tạo ra với sứ mệnh đưa tri thức đến gần hơn với mọi người.
                                    Chúng tôi tin rằng mỗi cuốn sách là một hành trình, và bạn chỉ cần chọn nơi mà mình muốn bắt đầu.</p>
<!--                                <div class="social-links">-->
<!--                                    <ul class="d-flex list-unstyled">-->
<!--                                        <li>-->
<!--                                            <a href="#">-->
<!--                                                <svg class="facebook">-->
<!--                                                    <use xlink:href="#facebook" />-->
<!--                                                </svg>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#">-->
<!--                                                <svg class="instagram">-->
<!--                                                    <use xlink:href="#instagram" />-->
<!--                                                </svg>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#">-->
<!--                                                <svg class="twitter">-->
<!--                                                    <use xlink:href="#twitter" />-->
<!--                                                </svg>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#">-->
<!--                                                <svg class="linkedin">-->
<!--                                                    <use xlink:href="#linkedin" />-->
<!--                                                </svg>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#">-->
<!--                                                <svg class="youtube">-->
<!--                                                    <use xlink:href="#youtube" />-->
<!--                                                </svg>-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 pb-3">
                            <div class="footer-menu text-capitalize">
                                <h5 class="widget-title pb-2">Di chuyển tới:</h5>
                                <ul class="menu-list list-unstyled text-capitalize">
                                    <li class="menu-item mb-1">
                                        <a class="nav-link me-4 active" th:href="@{/home}">Trang chủ</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a class="nav-link me-4" th:href="@{/shop}">Sách</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a class="nav-link me-4" th:href="@{/best-sellers}">Sản phẩm bán chạy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <!-- Cột trống -->
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu contact-item">
                                <h5 class="widget-title text-capitalize pb-2">Liên hệ với chúng tôi</h5>
                                <p>Bạn có bất kỳ thắc mắc hay câu hỏi nào? <a href="mailto:booklyinfo@gmail.com"
                                                                              class="text-decoration-underline">booklyinfo@gmail.com</a></p>
                                <p>Nếu bạn cần hỗ trợ hãy gọi cho chúng tôi. <a href="tel:+84035999999" class="text-decoration-underline">+84 035 999 9999</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>