<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>footer Fragment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:fragment="footer_content">
    <!-- SVG icons chỉ giữ những icon được sử dụng -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="user" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd"
                  d="M12 1.25a4.75 4.75 0 1 0 0 9.5a4.75 4.75 0 0 0 0-9.5M8.75 6a3.25 3.25 0 1 1 6.5 0a3.25 3.25 0 0 1-6.5 0M12 12.25c-2.313 0-4.445.526-6.024 1.414C4.42 14.54 3.25 15.866 3.25 17.5v.102c-.001 1.162-.002 2.62 1.277 3.662c.629.512 1.51.877 2.7 1.117c1.192.242 2.747.369 4.773.369s3.58-.127 4.774-.369c1.19-.24 2.07-.605 2.7-1.117c1.279-1.042 1.277-2.5 1.276-3.662V17.5c0-1.634-1.17-2.96-2.725-3.836c-1.58-.888-3.711-1.414-6.025-1.414M4.75 17.5c0-.851.622-1.775 1.961-2.528c1.316-.74 3.184-1.222 5.29-1.222c2.104 0 3.972.482 5.288 1.222c1.34.753 1.961 1.677 1.961 2.528c0 1.308-.04 2.044-.724 2.6c-.37.302-.99.597-2.05.811c-1.057.214-2.502.339-4.476.339c-1.974 0-3.42-.125-4.476-.339c-1.06-.214-1.68-.509-2.05-.81c-.684-.557-.724-1.293-.724-2.601"
                  clip-rule="evenodd" />
        </symbol>

        <symbol id="nav-icon" viewBox="0 0 16 16">
            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
        </symbol>
    </svg>

    <footer id="footer" class="site-footer">
        <nav class="navbar navbar-expand-lg py-3 bg-light">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand" href="/home">
                    <img src="/images/VLU.png" class="logo" alt="logo" style="width: 200px; height: 50px;">
                </a>

                <!-- Đẩy icon sang phải -->
                <div class="flex-grow-1"></div>

                <!-- DESKTOP ICONS -->
                <div class="d-none d-lg-flex align-items-center">

                    <!-- SETTING -->
                    <a href="/setting" class="me-3">
                        <i class="fa-solid fa-gear fs-4" style="color: #D72134"></i>
                    </a>

                    <!-- USER -->
                    <div th:if="${session.loggedInUser}" class="dropdown">
                        <a href="#" class="account-button d-flex align-items-center dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/user.png" style="width: 50px; height: 50px"
                                 class="user-avatar me-2 rounded-circle">
                            <span class="fw-bold">Test User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="#">Đăng xuất</a></li>
                        </ul>
                    </div>

                    <div th:unless="${session.loggedInUser}">
                        <a class="account-button" href="/user/signin" style="color: #D72134">
                            <svg width="30" height="30"><use xlink:href="#user"></use></svg>
                        </a>
                    </div>

                </div>

                <!-- MOBILE TOGGLER -->
                <button class="navbar-toggler d-flex d-lg-none ms-3"
                        type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#bdNavbar">
                    <svg width="24" height="24">
                        <use xlink:href="#nav-icon"></use>
                    </svg>
                </button>

                <!-- OFFCANVAS MENU (MOBILE ONLY) -->
                <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="bdNavbar">

                    <div class="offcanvas-footer px-4 pb-0">
                        <a class="navbar-brand" href="/home">
                            <img src="/images/VLU.png" class="logo" alt="logo" style="width: 200px;">
                        </a>
                        <button class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>

                    <div class="offcanvas-body">

                        <!-- MOBILE ICONS -->
                        <div class="d-flex flex-column">

                            <a href="/setting" class="mb-3" style="color: #D72134">
                                <i class="fa-solid fa-gear fs-3" style="color: #D72134"></i> Cài đặt
                            </a>

                            <div th:if="${session.loggedInUser}">
                                <a href="#" class="d-flex align-items-center mb-3">
                                    <img src="/images/user.png" style="width: 50px; height: 50px"
                                         class="rounded-circle me-2">
                                    <span class="fw-bold">Test User</span>
                                </a>
                            </div>

                            <div th:unless="${session.loggedInUser}">
                                <a class="account-button" href="/user/signin" style="color: #D72134">
                                    <svg width="30" height="30" style="color: #D72134"><use xlink:href="#user"></use></svg> Đăng nhập
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </nav>
    </footer>
</div>
</body>
</html>
